@model time_reservation.Models.AddBusinessViewModel

@{
    ViewData["Title"] = "CreateBusiness";

    ViewBag.ShowNavbar = false;
}


<style>
 


    .checkbox-wrapper-47 input[type="checkbox"] {
        display: none;
        visibility: hidden;
    }

    .checkbox-wrapper-47 label {
        position: relative;
        padding-left: 2em;
        padding-right: 1em;
        line-height: 2;
        cursor: pointer;
        display: inline-flex;
        white-space: nowrap;  
    }

        .checkbox-wrapper-47 label:before {
            box-sizing: border-box;
            content: " ";
            position: absolute;
            top: 0.3em;
            left: 0;
            display: block;
            width: 1.4em;
            height: 1.4em;
            border: 2px solid #ffa600;
            border-radius: 6px;
            z-index: -1;
        }

    .checkbox-wrapper-47 input[type=checkbox]:checked + label {
        padding-left: 1em;
        color: #000;
    }

        .checkbox-wrapper-47 input[type=checkbox]:checked + label:before {
            top: 0;
            width: 100%;
            height: 2em;
            background: #ffa600;
            border-color: #ffa600;
        }

    .checkbox-wrapper-47 label,
    .checkbox-wrapper-47 label::before {
        transition: 0.25s all ease;
    }









</style>



<h1>CreateBusiness</h1>

<h4>AddBusinessViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form id="fileForm" asp-controller="Admin" asp-action="CreateBusiness" method="post" enctype="multipart/form-data" onsubmit="return updateImagesName()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" class="form-control" value="@Model.Admin.id" />


            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" class="form-control" type="file" multiple />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>

         

          

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
          











            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control">
                    <option value="">-- لطفا جنسیت را انتخاب کنید --</option>
                    <option value="آقایان">آقایان</option>
                    <option value="بانوان">بانوان</option>
                    <option value="آقایان و بانوان">آقایان و بانوان</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <select asp-for="City" class="form-control" id="City">
                    <option value="">-- لطفا استان را انتخاب کنید --</option>
                    <option value="البرز">البرز</option>
                    <option value="اردبیل">اردبیل</option>
                    <option value="بوشهر">بوشهر</option>
                    <option value="چهارمحال و بختیاری">چهارمحال و بختیاری</option>
                    <option value="آذربایجان شرقی">آذربایجان شرقی</option>
                    <option value="فارس">فارس</option>
                    <option value="گیلان">گیلان</option>
                    <option value="گلستان">گلستان</option>
                    <option value="همدان">همدان</option>
                    <option value="هرمزگان">هرمزگان</option>
                    <option value="ایلام">ایلام</option>
                    <option value="اصفهان">اصفهان</option>
                    <option value="کرمان">کرمان</option>
                    <option value="کرمانشاه">کرمانشاه</option>
                    <option value="خوزستان">خوزستان</option>
                    <option value="کهگیلویه و بویراحمد">کهگیلویه و بویراحمد</option>
                    <option value="کردستان">کردستان</option>
                    <option value="لرستان">لرستان</option>
                    <option value="مرکزی">مرکزی</option>
                    <option value="مازندران">مازندران</option>
                    <option value="خراسان شمالی">خراسان شمالی</option>
                    <option value="قزوین">قزوین</option>
                    <option value="قم">قم</option>
                    <option value="خراسان رضوی">خراسان رضوی</option>
                    <option value="سمنان">سمنان</option>
                    <option value="سیستان و بلوچستان">سیستان و بلوچستان</option>
                    <option value="خراسان جنوبی">خراسان جنوبی</option>
                    <option value="تهران">تهران</option>
                    <option value="آذربایجان غربی">آذربایجان غربی</option>
                    <option value="یزد">یزد</option>
                    <option value="زنجان">زنجان</option>
                </select>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SubCity" class="control-label"></label>
                <select asp-for="SubCity" class="form-control" id="SubCity">
                    <option value="">-- لطفا شهرستان را انتخاب کنید --</option>
                   
                </select>
                <span asp-validation-for="SubCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeUnit" class="control-label"></label>
                <input asp-for="TimeUnit" type="number" class="form-control" />
                <span asp-validation-for="TimeUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" type="time" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" type="time" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>



       

            <div class="form-group">
                <label for="newPrice" class="control-label">قیمت جدید</label>
                <input class="form-control" asp-for="Price" type="range" min="50000" max="1500000" step="10000" id="newPriceRange" oninput="updateNewPriceValue()" value="50000" />
                <span id="newPriceValue" class="form-control" style="margin-top: 10px;">50000</span>
            </div>







            <div class="form-group form-check">
                <input class="form-check-input" type="checkbox" id="state" asp-for="State" />
                <label class="form-check-label" for="state">
                    @Html.DisplayNameFor(model => model.State)
                </label>
            </div>

         


            <div class="form-group">
                <label asp-for="Possibilities" class="control-label"></label>
                <input asp-for="Possibilities" type="hidden" class="form-control" />


                <div class="d-flex flex-wrap">

                    <div class="checkbox-wrapper-47 m-2">
                        <input type="checkbox" id="parking" name="features" value="پارکینگ">
                        <label for="parking">پارکینگ</label>
                    </div>

                    <div class="checkbox-wrapper-47 m-2">
                        <input type="checkbox" id="buffet" name="features" value="بوفه">
                        <label for="buffet">بوفه</label>
                    </div>

                    <div class="checkbox-wrapper-47 m-2">
                        <input type="checkbox" id="restroom" name="features" value="سرویس بهداشتی">
                        <label for="restroom">سرویس بهداشتی</label>
                    </div>


                    <div class="checkbox-wrapper-47 m-2">
                        <input type="checkbox" id="lockerroom" name="features" value="رختکن">
                        <label for="lockerroom">رختکن</label>
                    </div>

                    <div class="checkbox-wrapper-47 m-2">
                        <input type="checkbox" id="spectators" name="features" value="جایگاه تماشاچی">
                        <label for="spectators">جایگاه تماشاچی</label>
                    </div>
                    <div class="checkbox-wrapper-47 m-2">
                        <input type="checkbox" id="shop" name="features" value="فروشگاه">
                        <label for="shop">فروشگاه</label>
                    </div>
                    <div class="checkbox-wrapper-47 m-2">
                        <input type="checkbox" id="watercooler" name="features" value="آبسردکن">
                        <label for="watercooler">آبسردکن</label>
                    </div>
                    <div class="checkbox-wrapper-47 m-2">
                        <input type="checkbox" id="aircondition" name="features" value="تهویه هوا">
                        <label for="aircondition">تهویه هوا</label>
                    </div>

                    <div class="checkbox-wrapper-47 m-2">
                        <input type="checkbox" id="coolingsystem" name="features" value="سیستم سرمایش">
                        <label for="coolingsystem">سیستم سرمایش</label>
                    </div>
                    <div class="checkbox-wrapper-47 m-2">
                        <input type="checkbox" id="heatingsystem" name="features" value="سیستم گرمایش">
                        <label for="heatingsystem">سیستم گرمایش</label>
                    </div>
                    <div class="checkbox-wrapper-47 m-2">
                        <input type="checkbox" id="greenspace" name="features" value="فضای سبز">
                        <label for="greenspace">فضای سبز</label>
                    </div>
                    <div class="checkbox-wrapper-47 m-2">
                        <input type="checkbox" id="shower" name="features" value="دوش">
                        <label for="shower">دوش</label>
                    </div>


                    <div class="checkbox-wrapper-47 m-2">
                        <input type="checkbox" id="locker" name="features" value="کمد">
                        <label for="locker">کمد</label>
                    </div>
                    <div class="checkbox-wrapper-47 m-2">
                        <input type="checkbox" id="massage" name="features" value="ماساژ">
                        <label for="massage">ماساژ</label>
                    </div>

                    <div class="checkbox-wrapper-47 m-2">
                        <input type="checkbox" id="coach" name="features" value="مربی">
                        <label for="coach">مربی</label>
                    </div>

                    <div class="checkbox-wrapper-47 m-2">
                        <input type="checkbox" id="pump" name="features" value="تلمبه">
                        <label for="pump">تلمبه</label>
                    </div>

                </div>


            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
          
        </form>
    </div>
</div>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        function updateNewPriceValue() {
            var rangeInput = document.getElementById('newPriceRange');
            var priceValue = document.getElementById('newPriceValue');
            priceValue.textContent = formatNumber(rangeInput.value) + ' هزار تومان';
        }

        function formatNumber(number) {
            return Number(number).toLocaleString('en-US');
        }

        document.addEventListener("DOMContentLoaded", function () {
            updateNewPriceValue();  
        });
    </script>
 






    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const checkboxes = document.querySelectorAll('input[name="features"]');
            const hiddenField = document.querySelector('input[name="Possibilities"]');

            checkboxes.forEach((checkbox) => {
                checkbox.addEventListener('change', () => {
                    const selectedFeatures = [];
                    checkboxes.forEach((checkbox) => {
                        if (checkbox.checked) {
                            selectedFeatures.push(checkbox.value);
                        }
                    });
                    hiddenField.value = selectedFeatures.join(', ');
                });
            });
        });
    </script>





    <script>
        var cities = {
            "البرز": ["کرج", "ساوجبلاغ", "نظرآباد", "طالقان", "اشتهارد"],
            "اردبیل": ["اردبیل", "بیله سوار", "پارس آباد", "خلخال", "کوثر", "گِرمی", "مشگین شهر", "نَمین", "نیر"],
            "بوشهر": ["بوشهر", "تنگستان", "جم", "دشتستان", "دشتی", "دیر", "دیلم", "عسلویه", "کنگان", "گناوه"],
            "چهارمحال و بختیاری": ["اردل", "بروجن", "سامان", "شهرکرد", "فارسان", "کوهرنگ", "کیار", "لردگان"],
            "آذربایجان شرقی": ["آذرشهر", "اسکو", "اهر", "بستان آباد", "بناب", "تبریز", "جلفا", "چاراویماق", "سراب", "شبستر", "عجب شیر", "کلیبر", "مراغه", "مرند", "ملکان", "میانه", "ورزقان", "هریس", "هشترود"],
            "فارس": ["آباده", "ارسنجان", "استهبان", "اقلید", "بوانات", "پاسارگاد", "جهرم", "خرم بید", "خنج", "داراب", "زرین دشت", "سپیدان", "شیراز", "فراشبند", "فسا", "فیروزآباد", "قیر و کارزین", "کازرون", "لارستان", "لامرد", "مرودشت", "ممسنی", "مهر", "نی ریز"],
            "گیلان": ["آستارا", "آستانه اشرفیه", "املش", "بندر انزلی", "رشت", "رضوانشهر", "رودبار", "رودسر", "سیاهکل", "شفت", "صومعه سرا", "طوالش", "فومن", "لاهیجان", "لنگرود", "ماسال"],
            "گلستان": ["آزادشهر", "آق قلا", "بندر گز", "ترکمن", "رامیان", "علی آباد", "کردکوی", "کلاله", "گرگان", "گنبد کاووس", "مراوه تپه", "مینودشت"],
            "همدان": ["اسدآباد", "بهار", "تویسرکان", "رزن", "فامنین", "کبودرآهنگ", "ملایر", "نهاوند", "همدان"],
            "هرمزگان": ["ابوموسی", "بستک", "بندر عباس", "بندر لنگه", "پارسیان", "جاسک", "حاجی آباد", "خمیر", "رودان", "سیریک", "قشم", "میناب"],
            "ایلام": ["آبدانان", "ایلام", "ایوان", "بدره", "چرداول", "دره شهر", "دهلران", "سیروان", "ملکشاهی", "مهران"],
            "اصفهان": ["آران و بیدگل", "اردستان", "اصفهان", "برخوار", "بوئین و میاندشت", "تیران و کرون", "چادگان", "خمینی شهر", "خوانسار", "سمیرم", "شاهین شهر و میمه", "شهرضا", "دهاقان", "فریدن", "فریدونشهر", "فلاورجان", "کاشان", "گلپایگان", "لنجان", "مبارکه", "نائین", "نجف آباد", "نطنز"],
            "کرمان": ["ارزوئیه", "انار", "بافت", "بردسیر", "بم", "جیرفت", "رابر", "راور", "رفسنجان", "رودبار جنوب", "ریگان", "زرند", "سیرجان", "شهربابک", "عنبرآباد", "فاریاب", "فهرج", "قلعه گنج", "کرمان", "کوهبنان", "کهنوج", "منوجان"],
            "کرمانشاه": ["اسلام آباد غرب", "پاوه", "ثلاث باباجانی", "جوانرود", "دالاهو", "روانسر", "سرپل ذهاب", "سنقر", "صحنه", "قصر شیرین", "کرمانشاه", "کنگاور", "گیلانغرب", "هرسین"],
            "خوزستان": ["آبادان", "امیدیه", "اندیمشک", "اهواز", "ایذه", "باغ ملک", "باوی", "بهبهان", "حمیدیه", "خرمشهر", "دزفول", "دشت آزادگان", "رامشیر", "رامهرمز", "شادگان", "شوش", "شوشتر", "گتوند", "لالی", "ماهشهر", "مسجد سلیمان", "هندیجان", "هویزه"],
            "کهگیلویه و بویراحمد": ["باشت", "بویراحمد", "بهمئی", "چرام", "دنا", "کهگیلویه", "گچساران", "لنده"],
            "کردستان": ["بانه", "بیجار", "دهگلان", "دیواندره", "سروآباد", "سقز", "سنندج", "قروه", "کامیاران", "مریوان"],
            "لرستان": ["ازنا", "الیگودرز", "بروجرد", "پلدختر", "خرم آباد", "دلفان", "دورود", "دوره", "سلسله", "کوهدشت"],
            "مرکزی": ["آشتیان", "اراک", "تفرش", "خمین", "خنداب", "دلیجان", "زرندیه", "ساوه", "شازند", "کمیجان", "محلات"],
            "مازندران": ["آمل", "بابل", "بابلسر", "بهشهر", "تنکابن", "جویبار", "چالوس", "رامسر", "ساری", "سوادکوه", "عباس آباد", "فریدونکنار", "قائم شهر", "کلاردشت", "گلوگاه", "محمودآباد", "میاندورود", "نکا", "نور", "نوشهر"],
            "خراسان شمالی": ["اسفراین", "بجنورد", "جاجرم", "راز و جرگلان", "شیروان", "فاروج", "گرمه", "مانه و سملقان"],
            "قزوین": ["آبیک", "آوج", "بوئین زهرا", "تاکستان", "قزوین", "البرز"],
            "قم": ["قم"],
            "خراسان رضوی": ["بردسکن", "تایباد", "تربت جام", "تربت حیدریه", "چناران", "جغتای", "جوین", "خلیل آباد", "خواف", "درگز", "رشتخوار", "سبزوار", "سرخس", "فریمان", "قوچان", "کاشمر", "کلات", "گناباد", "مشهد", "مه ولات", "نیشابور"],
            "سمنان": ["دامغان", "سمنان", "شاهرود", "گرمسار", "مهدی شهر", "میامی", "آرادان"],
            "سیستان و بلوچستان": ["ایرانشهر", "چابهار", "خاش", "دلگان", "زابل", "زابلی", "زاهدان", "زهک", "سراوان", "سرباز", "سیب و سوران", "فنوج", "کنارک", "مهرستان", "میرجاوه", "نیک شهر", "هامون", "هیرمند"],
            "خراسان جنوبی": ["بشرویه", "بیرجند", "خوسف", "درمیان", "زیرکوه", "سرایان", "سربیشه", "فردوس", "قائنات", "نهبندان"],
            "تهران": ["اسلامشهر", "بهارستان", "پاکدشت", "پردیس", "پیشوا", "تهران", "دماوند", "رباطکریم", "ری", "شمیرانات", "شهریار", "فیروزکوه", "قدس", "قرچک", "ملارد", "ورامین"],
            "آذربایجان غربی": ["ارومیه", "اشنویه", "بوکان", "پیرانشهر", "تکاب", "چالدران", "چایپاره", "خوی", "سردشت", "سلماس", "شاهین دژ", "شوط", "ماکو", "مهاباد", "میاندوآب", "نقده"],
            "یزد": ["ابرکوه", "اردکان", "اشکذر", "بافق", "بهاباد", "تفت", "خاتم", "مهریز", "میبد", "یزد"],
            "زنجان": ["ابهر", "ایجرود", "خدابنده", "خرمدره", "زنجان", "سلطانیه", "طارم", "ماهنشان"]
        };

        $(document).ready(function () {
            $('#City').change(function () {
                var selectedCity = $(this).val();
                var subCitySelect = $('#SubCity');

                subCitySelect.empty(); 

                if (selectedCity) {
                    var subCities = cities[selectedCity];
                    if (subCities) {
                        $.each(subCities, function (index, value) {
                            subCitySelect.append($('<option></option>').attr('value', value).text(value));
                        });
                    }
                }
            });
        });
    </script>


}
