@{
    ViewBag.ShowNavbar = false;
}

<div class="my-5 py-2">
    <h1>به بخش صاحبان مجموعه های ورزشی خوش آمدید!</h1>

    <a class="btn btn-outline-primary text-light mr-2" asp-controller="Admin" asp-action="Login">ورود </a>
    <a class="btn btn-outline-primary text-light mr-2" asp-controller="Admin" asp-action="Register">ثبت نام </a>
</div>
