
<style>
   

    .about-section {
        padding: 50px 0;
        background-color: #343a40;
    }

        .about-section h2 {
            font-size: 2.5rem;
            margin-bottom: 30px;
        }

        .about-section p {
            font-size: 1.1rem;
            line-height: 1.8;
        }
</style>

<h4>درباره ما</h4>


<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="~/images/about.jpg" alt="Futsal Court" class="img-fluid rounded">
            </div>
            <div class="col-lg-6 my-3">
                <h2>سالن فوتسال ما</h2>
                <p>
                    سالن فوتسال ما با داشتن بهترین امکانات و تجهیزات، فضایی مناسب برای برگزاری تمرینات و مسابقات فوتسال فراهم کرده است. این سالن با ابعاد استاندارد و کف‌پوش مناسب، تجربه‌ای عالی از بازی فوتسال را به شما هدیه می‌دهد.
                </p>
                <p>
                    ما در این سالن، انواع خدمات از جمله رزرو آنلاین، برگزاری تورنمنت‌ها و رویدادهای مختلف ورزشی را ارائه می‌دهیم. همچنین، تیم مجرب ما همیشه در تلاش است تا بهترین خدمات را به شما عزیزان ارائه دهد.
                </p>
                <p>
                    هدف ما ایجاد فضایی دوستانه و حرفه‌ای برای علاقه‌مندان به فوتسال است تا بتوانند با خیالی آسوده و با لذت به فعالیت ورزشی خود بپردازند. از شما دعوت می‌کنیم تا به سالن فوتسال ما بیایید و از امکانات و خدمات ما بهره‌مند شوید.
                </p>
            </div>
        </div>
    </div>
</section>