@model IEnumerable<Business>



<div class="container-fluid">
    <div class="text-center">

    </div>
    <h1>به تایم با ما خوش آمدید!</h1>
    
 
   <hr/>
  
        <div class="row text-dark">

            @foreach (var item in Model)
            {
                <partial name="_BusinessItem" model="@item" />
            }


        </div>
   
   









</div>